
/* my customisation */


  
.md-grid {
  max-width: 1440px; 
}


/* text */

body, html {
    font-family: lato-regular, Arial, Helvetica, sans-serif;


    counter-reset : h2;
    }

h2 {
counter-reset : h3;
    }

h3 {
counter-reset : h4;
    }

h4 {
counter-reset : h5;
    }

h5 {
counter-reset : h6;
    }

article h2:before {
content : counter(h2,decimal) ". ";
counter-increment : h2;
    }

article h3:before {
content : counter(h2,decimal) "." counter(h3,decimal) ". ";
counter-increment : h3;
    }

article h4:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) ". ";
counter-increment : h4;
    }

article h5:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) ". ";
counter-increment : h5;
    }

article h6:before {
content : counter(h2,decimal) "." counter(h3,decimal) "." counter(h4,decimal) "." counter(h5,decimal) "." counter(h6,decimal) ". ";
counter-increment : h6;
    }

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
content : "";
counter-increment : none;
    }
  }
  
  body .md-typeset {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: rgb(77, 82, 89)

    ;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3 {
  color: #000;
  font-weight: 600;
}

/**/

details.tiny {
  margin: 0;
  padding: 0;
  border:0;
  border-radius: 0;
  box-shadow: none;
  background: none;
}
details.tiny summary {
  padding: 0 1rem 0 0;
  margin: 0;
  background: none;
}
details.tiny summary:before {
  content: none;
}
details.tiny ul {
  padding-left: 16px;
}

/* progress */

p.progress-label {
  position: absolute;
  text-align: left;
  font-weight: 400;
  margin: 0 1rem;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
}

.progress-bar {
  height: 1.2rem;
  float: left;
  background-color: #2979ff;
  border-radius:4px;
}

.progress {
  display: block;
  margin: 0.5rem 1rem;
  border-radius:4px;
  height: 1.2rem;
  background-color: #eeeeee;
  position: relative;
}

.progress.thin {
  margin-top: 0.9rem;
  height: 0.4rem;
}

.progress.thin .progress-label {
  margin-top: -0.4rem;
}

.progress.thin .progress-bar {
  height: 0.4rem;
}

.progress-100plus .progress-bar {
  background-color: #00e676;
}

.progress-80plus .progress-bar {
  background-color: #fbc02d;
}

.progress-60plus .progress-bar {
  background-color: #ff9100;
}

.progress-40plus .progress-bar {
  background-color: #ff5252;
}

.progress-20plus .progress-bar {
  background-color: #ff1744;
}

.progress-0plus .progress-bar {
  background-color: #f50057;
}