<table class="mytable">
    <tbody>
    <tr>
       <th>HR Works</th>
       <th>New Proceess</th>
     </tr>
    <tr>
    <td>
    <p><strong>Leave Settlement calculation</strong></p>
    <p><strong>Salary till 15th May = 373.33 BHD</strong></p>
    <p><strong>Leave Salary for 25 days = 625 BHD</strong></p>
    <p><strong>Net pay = 998.33 BHD Leave Salary Advance = 998.33 BHD</strong></p>
    <p><br/></p>
    <p><strong>June Payroll</strong></p>
    <p><br/></p>
    <p><strong>Salary for June = 800 BHD</strong></p>
    <p><strong>OT payable in June = 35 BHD</strong></p>
    <p><strong>Total Payable in June = 835 BHD</strong></p>
    <p><br/></p>
    <p><strong>Leave Salary advance Recovery = 835 BHD</strong></p>
    <p><br/></p>
    <p><br/></p>
    <p><strong>Net Pay for June = 0 BHD Leave Salary Advance = 998.33 -835 =163.33 BHD</strong></p>
    <p><br/></p>
    <p><br/></p>
    <p><strong>July Payroll</strong></p>
    <p><strong>Salary for the July = 800 BHD (considering employee returned on time)</strong></p>
    <p><strong>OT payable in July= 30 BHD</strong></p>
    <p><strong>Total Payable in July= 830 BHD</strong></p>
    <p><br/></p>
    <p><strong>Leave Salary Advance recovery = 163.33 BHD</strong></p>
    <p><br/></p>
    <p><strong>Net Pay for July = 666.67 BHD </strong></p>
    <p><strong>Leave Salary advance = 163.33 &ndash; 163.33= 0 BHD</strong></p>
    </td>
    <td>
    <p>Leave Settlement calculation</p>
    <p>Salary till 15th May = 373.33 BHD</p>
    <p>Leave Salary for 25 days = 625 BHD</p>
    <p>Net pay = 998.33 BHD Leave Salary Advance = 998.33 BHD</p>
    <p><br/></p>
    <p>June Payroll</p>
    <p><br/></p>
    <p>Salary for June = 800 BHD</p>
    <p>OT payable in June = 35 BHD</p>
    <p>Total Payable in June = 835 BHD</p>
    <p><br/></p>
    <p>Leave Salary advance Recovery = 750 (BASIC+ HRA + TRA) +23.33 (OTHER allowance for 15 days) =773.33 BHD</p>
    <p><br/></p>
    <p>Net Pay for June = 61.67 BHD Leave Salary Advance = 998.33 -773.33 =225 BHD</p>
    <p><br/></p>
    <p>July Payroll</p>
    <p>Salary for the July = 800 BHD (considering employee returned on time)</p>
    <p>OT payable in July= 30 BHD</p>
    <p>Total Payable in July= 830 BHD</p>
    <p><br/></p>
    <p>Leave Salary Advance recovery = 225 BHD</p>
    <p><br/></p>
    <p>Net Pay for July = 605 BHD </p>
    <p>Leave Salary advance = 225 &ndash; 225= 0 BHD</p>
    </td>
    </tr>
    </tbody>
    </table>